NODE_ENV=development
PORT=3000

# Aiven MySQL connection
DB_HOST=shoptrack-mysql-shoptrack-api.l.aivencloud.com
DB_PORT=19526
DB_USER=avnadmin
DB_PASSWORD=AVNS_zLERZlzcDW6VnmTIr98
DB_NAME=defaultdb

# CA certificate from Aiven
DB_SSL_CA=./certs/ca.pem